<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">ID</th>
          <th class="h4">Serie</th>
          <th class="h4">Canal</th>
          <th class="h4">Temporadas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of series">
          <td>
            <dd>{{s.id}}</dd>
          </td>
          <td>
            <dd>{{s.name}}</dd>
          </td>
          <td>
            <dd>{{s.channel}}</dd>
          </td>
          <td>
            <dd>{{s.seasons}}</dd>
          </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
